.docs-container {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.docs {
  width: 20%;
  height: 60px;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
}

.docs-warning {
  background-color: #ff9966;
}

.docs-success {
  background-color: #339900;
}

.docs-digit {
  padding-left: 10px;
}
