<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <!-- settings 1 -->
    <record id="ubi_letter_settings_type_tree" model="ir.ui.view">
        <field name="name">ubi.letter.settings.type.tree</field>
        <field name="model">ubi.letter.type</field>
        <field name="arch" type="xml">
            <tree string="Ubi Letter">
                <field name="name"/>
                <field name="code"/>
            </tree>
        </field>
    </record>

    <record id="ubi_letter_settings_type_form" model="ir.ui.view">
        <field name="name">ubi.letter.settings.type.form</field>
        <field name="model">ubi.letter.type</field>
        <field name="arch" type="xml">
            <form string="Ubi Letter">
                <sheet>
                    <group>
                        <group>
                            <field name="name"/>
                        </group>
                        <group>
                            <field name="code"/>
                        </group>
                    </group>
                </sheet>
            </form>
        </field>
    </record>

    <!-- settings 2 -->
    <record id="ubi_letter_settings_subject_tree" model="ir.ui.view">
        <field name="name">ubi.letter.settings.subject.tree</field>
        <field name="model">ubi.letter.subject</field>
        <field name="arch" type="xml">
            <tree string="Ubi Letter">
                <field name="name"/>
                <field name="code"/>
                <field name="desc"/>
            </tree>
        </field>
    </record>

    <record id="ubi_letter_settings_subject_form" model="ir.ui.view">
        <field name="name">ubi.letter.settings.subject.form</field>
        <field name="model">ubi.letter.subject</field>
        <field name="arch" type="xml">
            <form string="Ubi Letter">
                <sheet>
                    <group>
                        <group>
                            <field name="name"/>
                        </group>
                        <group>
                            <field name="code"/>
                        </group>
                        <group>
                            <field name="desc"/>
                        </group>
                    </group>
                </sheet>
            </form>
        </field>
    </record>

    <!-- settings 3 -->
    <record id="ubi_letter_settings_template_tree" model="ir.ui.view">
        <field name="name">ubi.letter.settings.template.tree</field>
        <field name="model">ubi.letter.template</field>
        <field name="arch" type="xml">
            <tree string="Ubi Letter">
                <field name="letter_template_name"/>
                <field name="paper_size"/>
                <field name="letter_template"/>
            </tree>
        </field>
    </record>

    <record id="ubi_letter_settings_template_form" model="ir.ui.view">
        <field name="name">ubi.letter.settings.template.form</field>
        <field name="model">ubi.letter.template</field>
        <field name="arch" type="xml">
            <form string="Ubi Letter">
                <sheet>
                    <group>
                        <field name="letter_template_name"/>
                        <field name="paper_size"/>
                        <field name="letter_template"/>
                    </group>
                </sheet>
            </form>
        </field>
    </record>

    <record id="action_settings_letter_type" model="ir.actions.act_window">
        <field name="name">Албан бичгийн төрөл</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">ubi.letter.type</field>
        <field name="view_mode">tree,form</field>
        <field name="view_ids" eval="[(5, 0, 0),
                (0, 0, {'view_mode': 'tree', 'view_id': ref('ubisol_letters.ubi_letter_settings_type_tree')},),
                (0, 0, {'view_mode': 'form', 'view_id': ref('ubisol_letters.ubi_letter_settings_type_form')})]"/>
        <field name="context">{}</field>
        <field name="domain">[]</field>
        <field name="help" type="html">
            <p>Албан бичгийн төрөл</p>
        </field>
    </record>
    <record id="action_settings_letter_subject" model="ir.actions.act_window">
        <field name="name">Албан бичгийн тэргүү</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">ubi.letter.subject</field>
        <field name="view_mode">tree,form</field>
        <field name="view_ids" eval="[(5, 0, 0),
                (0, 0, {'view_mode': 'tree', 'view_id': ref('ubisol_letters.ubi_letter_settings_subject_tree')},),
                (0, 0, {'view_mode': 'form', 'view_id': ref('ubisol_letters.ubi_letter_settings_subject_form')})]"/>
        <field name="context">{}</field>
        <field name="domain">[]</field>
        <field name="help" type="html">
            <p>Албан бичгийн тэргүү</p>
        </field>
    </record>
    <record id="action_settings_letter_template" model="ir.actions.act_window">
        <field name="name">Албан бичгийн загвар</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">ubi.letter.template</field>
        <field name="view_mode">tree,form</field>
        <field name="view_ids" eval="[(5, 0, 0),
                (0, 0, {'view_mode': 'tree', 'view_id': ref('ubisol_letters.ubi_letter_settings_template_tree')},),
                (0, 0, {'view_mode': 'form', 'view_id': ref('ubisol_letters.ubi_letter_settings_template_form')})]"/>
        <field name="context">{}</field>
        <field name="domain">[]</field>
        <field name="help" type="html">
            <p>Албан бичгийн загвар</p>
        </field>
    </record>
</odoo>